@media (max-width: 500px) {
    body {
        font-size: 80%;
    }
    .main-container {
        height: 82vh;
    }

    .section-container-padrao {
        width: 94%;
        height: 93%;
    }
}

